autopep8==1.6.0
base58==2.1.1
bech32==1.2.0
bitcoinaddress==0.1.5
certifi==2022.12.7
charset-normalizer==2.0.10
click==8.1.3
colorama==0.4.6
dnspython==2.3.0
ecdsa==0.18.0
Flask==2.2.2
Flask-Cors==3.0.10
Flask-MySQL==1.5.2
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
mysql-connector-python==8.0.32
protobuf==3.20.3
psycopg2==2.9.5
pycodestyle==2.8.0
PyJWT==2.6.0
pymongo==4.3.3
PyMySQL==1.0.2
python-dotenv==0.21.0
requests==2.27.1
six==1.16.0
toml==0.10.2
urllib3==1.26.8
Werkzeug==2.2.2
