autopep8
base58
bech32
certifi
charset-normalizer
click
colorama
dnspython
ecdsa
Flask
Flask-Cors
Flask-MySQL
idna
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
bitcoinaddress
protobuf
psycopg2
pycodestyle
PyJWT
pymongo
PyMySQL
python-dotenv
requests
six
toml
urllib3
Werkzeug

